{% extends "base.html" %}

{% block header %}
<meta property="og:type" content="website" />
<meta property="og:title" content="PSF Donation Matcher" />
<meta property="og:description" content="A tool to create matching donation goals for the PSF donation drive" />
{% endblock %}

{% block content %}
<h3>What is this?</h3>
<p>The Python Software Foundation is currently running a donation drive: <a href="https://www.python.org/psf/donations/2019-q2-drive/">"Building the PSF: the Q2 2019 Fundraiser"</a>. If you've benefited from the PSF or the Python community, you should donate!<p>
<p>To make things more interesting, I built this tool which allows an individual to set a goal for matching donations, and collect other's donations towards their matching goal.</p>
<hr>
<h3>I want to match donations too, what do I do?</h3>
<p>
    <ol>
        <li>Create a <a href="{{ url_for('new_match') }}">new donation match goal</a></li>
        <li>Share a link to your goal</li>
        <li>Tell your donors to <a href="https://psfmember.org/civicrm/contribute/transact?reset=1&id=26">make a regular donation to the PSF</a></li>
        <li>In the emailed donation reciept, there will be a "Transaction #"</li>
        <li>Either your donors or you can add transaction IDs to increase your match towards your goal</li>
        <li>Before the donation drive ends, make a matching donation!</li>
    </ol>
</p>

<a href="{{ url_for('new_match') }}" class="btn btn-success">Create a new donation match goal now</a>
{% if matches %}
<br>
<br>
<hr>
<h3>Current donation drives:</h3>
<div class="list-group mt-3">
{% for match in matches %}
    <a href="{{ url_for('match', match_id=match.id) }}" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
        <div class="d-flex w-60 justify-content-between">
            <h5 class="mb-1">{{ match.title }}</h5>
            <small class="text-muted"> by {{ byline_nolink(match) }}</small>
        </div>
        <p class="mb-1">
            <b>${{ match.total_dollars }}.{{ "%02d" % match.total_cents }} raised</b> of ${{ match.goal_dollars }}.00
        </p>
        {{ progress(match) }}
    </a>
{% endfor %}
</div>
{% endif %}
{% endblock %}
