{% extends "base.html" %}

{% block header %}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ match.title }}" />
<meta property="og:description" content="A matching donation drive with a goal of ${{ match.goal_dollars }}.00 by {{ byline_nolink(match) }}" />
{% endblock %}


{% block content %}
<h3>"{{ match.title }}" by {{ byline(match) }}</h3>
{{ progress(match) }}
<b>${{ match.total_dollars }}.{{ "%02d" % match.total_cents }} raised</b> of ${{ match.goal_dollars }}.00
<hr>
<h3>Add a donation to this match:</h3>
{% if match.total_dollars < match.goal_dollars %}
{{ form_errors(form) }}
<form method="POST">
    <div class="form-group row">
        <label for="transaction_id" class="col-sm-5 col-form-label">{{ form.transaction_id.label.text }}</label>
        <div class="col-sm-5">
            {{ form.transaction_id() }}
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-5 col-form-label">{{ form.name.label.text }}</label>
        <div class="col-sm-5">
            {{ form.name() }}
        </div>
    </div>
    <input type="submit" class="btn btn-success">
</form>
{% else %}
<p>
This goal has been reached! <a href="{{ url_for('index') }}">But you can still add your donation to another drive instead.</a>
</p>
{% endif %}
{% if match.donations %}
    <hr>
    <h3>Donations in this match:</h3>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Donor</th>
                <th scope="col">Donation amount</th>
            </tr>
        </thead>
        <tbody>
            {% for donation in match.donations %}
            <tr>
                <td>{{ byline(donation) }}</td>
                <td>${{ donation.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
{% endblock %}
