{% extends "base.html" %}

{% block content %}
<h1>{{ match.title }}</h1>
Goal: ${{ match.goal_dollars }}.00
Current total: ${{ match.total_dollars }}.{{ "%02d" % match.total_cents }}

<h3>Add a donation to this match:</h3>
{{ form_errors(form) }}
<form method="POST">
    <div>{{ form.transaction_id.label }}: {{ form.transaction_id() }}</div>
    <div>{{ form.name.label }}: {{ form.name() }}</div>
    <input type="submit">
</form>

{% if match.donations %}
    <h3>Donations in this match:</h3>
    <table>
        <thead>
            <tr>
                <th>Donor</th>
                <th>Donation amount</th>
            </tr>
        </thead>
        <tbody>
            {% for donation in match.donations %}
            <tr>
                <td>{{ donation.name }}</td>
                <td>${{ donation.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
{% endblock %}
